body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: #daf5f0; */
    background: #fdfd96;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p{
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal; 
  font-size: 2rem;
  color: black;
}

.bordered{
    border: 3px solid black;
}

#calc_exterior{
    border-radius: 2rem;
    padding: 1.5rem ;
    width: 40%;
    height: 40rem;
    background: #fcdfff;
    display: flex;
    flex-direction: column;
}

#calc_interior{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


#textbar{
    width: 100%;
    height: 8rem;
    background: #daf5f0; 
    border-radius: 1.5rem;
    padding: .5rem 1rem;
    overflow: hidden;

    font-size: 3rem;
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal; 
    color: black;
}

#button_cont{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 1rem;
    
}

#digit_cont{
    width: 80%;
    height: 100%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#op_cont{
    width: 20%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#row1, #row2, #row3, #row4{
  width: 100%;
  height: 100%;
  display: flex;
  gap: 1rem;
 
}

.cell{
    background: #a7dbd8;
    width: 100%;
    height: 100%;
    flex: 1;
}

.op_cell, .btne{
    background: #c4a1ff;
    width: 100%;
    height: 100%;
    flex: 1;
}

.cell, .op_cell, .btne{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    border-radius: 1rem;
}

.cell:hover, .op_cell:hover{
    opacity: 0.5;
}




